fieldset {
  border: none;
  margin: 24px 0px 48px;
  display: grid;
}

#event-name {
  label {
    display: block;
    font: var(--b-sm);
    color: var(--text-body);
    margin-bottom: 0.75rem;
  }

  input {
    padding: 13px 16px;
  }
}