fieldset#about {
  display: flex;
  flex-direction: column;

  border: none;

  & #title {
    width: 100%;
  }

  & #start-end {
    flex-direction: row;
    gap: 16px;

    width: 100%;

    & #start, #end {
      display: block;

      width: 100%;
    }
  }

  & #type-place {
    flex-direction: row;
    gap: 16px;

    width: 100%;

    & #type {
      margin-top: 16px;

      font: var(--b-sm);
      color: var(--text-body);

      width: 100%;
  
      & #options {
        display: flex;
        justify-content: space-between;
        width: 100%;

        padding: 4px;
        margin-top: 17px;


        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        border-radius: 8px;

        font: var(--b-sm);
        color: var(--text-body);
      }
    }

    & #place {
      display: block;
      margin-top: 16px;

      width: 100%;
    }
  }

  & #details {
    display: block;
    width: 100%;

    & label {
      font: var(--b-sm);
      color: var(--text-body);
    }

    & textarea {
      resize: none;
      margin-top: 12px;
      padding: 16px;

      background-color: var(--input-base);
      border: 1px solid var(--input-stroke);
      border-radius: 8px;

      font: var(--b-md);

      &:focus,
      &:hover {
        border: 1px solid var(--brand-light);
        outline: none;
      }
    }


  }
}

/* Input - Text */
.input {
  & label {
    font: var(--b-sm);
    color: var(--text-body);
  }

  & input {
    padding: 13px 16px;
    margin-top: 12px;
  
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
  
    font: var(--b-md);
    
    &:focus,
    &:hover {
      border: 1px solid var(--brand-light);
      outline: none;
    }
  }

}

/* Placeholder */
input:hover::placeholder {
  color: var(--text-heading);
}
input:focus::placeholder {
  color: var(--text-heading);
}

/* Input - Date */
.date {
  & label {
    font: var(--b-sm);
    color: var(--text-body);
  }

  & input {
    padding: 13px 16px;
    margin-top: 12px;
  
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
  
    font: var(--b-md);
    color: var(--input-placeholder);
    text-transform: uppercase;
    
    &:focus,
    &:hover {
      border: 1px solid var(--brand-light);
      outline: none;
      color: var(--text-heading);
    }
  }
}

/* Date */
input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* Input - Radio */

.radio {
  display: flex;
  align-items: center;

  padding-block: 10.5px ;
  gap: 8px;

  cursor: pointer;

  & span.icon {
          
    & svg {
      display: flex;
      
      width: 16px;
      height: 16px;
    }
  }

}

.presencial {
  padding-inline: 2.5rem;
  
}

.online {
  padding-inline: 3rem;
}

/* Selection */

#options input[type="radio"] {
  display: none;
}

.icon svg {
  fill: #869198;
}

/* Selection - Checked */

#person:checked + label,
#online:checked + label {
  background-color: var(--shape-button);
  border-radius: 5px;

  color: var(--text-heading);
  font-weight: 600;
}

#person:checked + label .icon svg,
#online:checked + label .icon svg {
  fill: var(--brand-light)
}

/* Placeholder */
textarea:hover::placeholder {
  color: var(--text-heading);
}
textarea:focus::placeholder {
  color: var(--text-heading);
}


