#box {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
  overflow: hidden;
}

main {
  background-color: var(--shape-body);
  overflow: auto; 
  margin: 1.25rem;
  padding: 5rem 8.125rem 5rem;
  border-radius: 0.75rem;
  h2 {
    font: var(--h-md);
    margin-bottom: 2.5rem;
  }

  #about {
    display: flex;
    align-items: center;
  }

  img {
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
  }
  span {
    font: var(--h-sm);
  }
}