fieldset#contact {
  display: flex;
  flex-direction: column;

  border: none;

  & #name {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin-bottom: 16px;
  }

  & #mail-phone {
    display: flex;
    gap: 16px;

    width: 100%;
    margin-bottom: 48px;

    #email, #tel {
      display: flex;
      flex-direction: column;

      width: 100%;
    }
  }
}

