fieldset#custom {
  display: flex;
  flex-direction: column;

  border: none;

  & #style-archive {
    display: flex;
    gap: 8rem;
  }
}

/* Radio - Colors */

.colors {
  margin-bottom: 28px;

  & label {
    font: var(--b-sm);
    color: var(--text-body);
  }

  & #choices {
    margin-top: 16px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    & label {
      display: inline-block;
      cursor: pointer;

      width: 38px;
      height: 38px;
      
      border-radius: 999px;
      border: 6px solid var(--shape-button);

      &:hover {
        border:6px solid var(--shape-hover);
      }
    }
  }
}

#choices input[type="radio"] {
  display: none;
}

#choices input[type="radio"]:checked + label {
  outline: 2px solid var(--brand-light);
}

/* Radio - Theme (photos) */

.theme {
  margin-bottom: 28px;

  & label {
    font: var(--b-sm);
    color: var(--text-body);
  }

  & #photos {
    margin-top: 16px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    
    gap: 8px;

    & label {
      display: flex;
      flex-direction: column;

      text-align: center;

      background-color: var(--shape-button);
      border: 1px solid var(--input-stroke);
      border-radius: 8px;

      padding: 4px 4px 8px 4px;

      & img {
        margin-bottom: 8px;
        border-radius: 8px;
      }
    }
 
  }
}

#photos input[type="radio"] {
  display: none;
}

#photos input[type="radio"]:checked + label {
  outline: 2px solid var(--brand-light);
}

/* Checkbox - Switch */

.style {

  & label {
    font: var(--b-sm);
    color: var(--text-body);
  }

  #toggle {
    margin-top: 16px;
  }
}

#toggle input[type="checkbox"] {
  appearance: none;
  position: relative;

  width: 64px;
  height: 32px;

  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 50px;

  cursor: pointer;
  transition: 0.3s;
}

/* Toggle */

#toggle input[type="checkbox"]::before {
  content: "";
  position: absolute;
  
  width: 24px;
  height: 24px;

  background-color: var(--input-stroke);
  border-radius: 999px;

  top: 2.5px;
  left: 3px;

  transition: 0.3s;
}


#toggle input[type="checkbox"]::after {
  content: "Escuro";
  position: relative;

  font: var(--b-sm);
  color: var(--text-heading);

  top: 5px;
  left: 75px;

  transition: 0.3s;
}

#toggle input[type="checkbox"]:checked {
  background-color: var(--brand-light);
}

#toggle input[type="checkbox"]:checked::before {
  background-color: var(--text-heading);
  left: 35px;
}

#toggle input[type="checkbox"]:checked::after {
  content: "Claro";
}

/* File */
.archive {

  & label {
    font: var(--b-sm);
    color: var(--text-body);
  }

  #select {
    margin-top: 16px;
    position: relative;

    & input {
      margin-top: 6px;
      margin-left: 6px;
      font: var(--b-sm);
      color: var(--input-placeholder);
    }
    & label {
      display: flex;
      text-align: center;

      position: absolute;
      bottom: -10px;

      gap: 8px;
      
      padding: 10px 16px;
      background-color: var(--shape-button);
      border-radius: 8px;

      font-weight: 600;
      cursor: pointer;
      
      .svg svg {
        fill: var(--brand-light);
  
        width: 16px;
        height: 16px;
      }

      &:hover {
        background-color: var(--brand-dark);

        .svg svg {
          fill: var(--text-heading);
        }
      }
    }
    
  }
}

