#content {

  & main#main-part {
    margin: 20px;
    padding: 80px 130px;

    overflow: auto;
    background-color: var(--shape-body);
    border-radius: 12px;

    & h2 {
      font: var(--h-md);
    }

    .about {
      display: flex;
      align-items: center;

      gap: 12px;
      margin-top: 48px;
      margin-bottom: 24px;

      & img {
        width: 24px;
        height: 24px;
      }

      & span {
        font: var(--h-sm);
      }
    }

    
  }
}