.flex {
  display: flex;
}

/*  normal  */
.flex-1 {
  flex: 1;
}

/*  menor que o normal */
.flex-2 {
  flex: 2;
}

/* types  */
.type-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  width: auto;
}

.type-inner {
  display: grid;
  justify-items: center;
  width: 100%;

  position: relative;
  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }
}
