.flex {
  display: flex;
}

/*  normal  */
.flex-1 {
  flex: 1;
}

/*  menor que o normal */
.flex-2 {
  flex: 2;
}

/* types  */
.type-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  width: auto;
}

.type-inner {
  display: grid;
  justify-items: center;
  width: 100%;

  position: relative;
  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }
}

/* !!! */

/* Para estilos que não são globais 
aplicaremos as propriedades css nas classes. */
.inputs-container {
  margin: 16px;
  display: flex;
  gap: 16px;
  /*  */
}

.input-radio-personalizado {
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* Explicando o que o seletor abaixo faz:
O elemento Pai (.input-radio-personalizado) irá verificar 
se tem um elemento Filho (input) com o estado de :checked. 
Se for verdadeiro ele irá aplicar as propriedades CSS
no elemento Pai (.input-radio-personalizado). */

.input-radio-personalizado:has(input[type=radio]:checked) {
  background: black;
  color: white;
  svg {
    fill: white;
  }
}